@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  --nav-bg: rgba(0, 0, 0, 0);
  --all-bg: rgb(56, 16, 16);
  --till: rgba(255, 255, 255, 0.616);
  --till-text: rgb(255, 255, 255);
}
body,
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  overflow: hidden;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 11px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* ------------ Navigation -------------------*/
.nav {
  padding-top: 3rem;
  position: fixed;
  background-color: var(--nav-bg);
  display: grid;
  justify-content: end;
  align-items: center;
  z-index: 1;
  right: 1rem;
}

.navbar-image {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  right: -5%;
}

.nav-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

.nav-li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 1vw;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.nav-icon {
  line-height: 5rem;
  transition: 0.5s;
  text-align: center;
}

.nav-li:hover .nav-icon {
  transform: translateY(1.8rem);
  color: #cfcece;
}
.nav-text {
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(0rem);
}

.nav-li:hover .nav-text {
  opacity: 1;
  transform: translateY(-4rem);
  color: #cfcece;
}

a {
  text-decoration: none;
  color: var(--till-text);
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.66);
}
/*------------------Header-------------------------*/
.header {
  background-color: var(--all-bg);
  height: 100vh;
  display: flex;
  background: rgb(2, 69, 56);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 69, 56, 1) 0%,
    rgba(131, 250, 85, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 69, 56, 1) 0%,
    rgba(131, 250, 85, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 69, 56, 1) 0%,
    rgba(131, 250, 85, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024538",endColorstr="#83fa55",GradientType=1);
}

.header-tile {
  margin-top: 25vh;
  margin-left: 5vw;
}

/* * ----------------------------------------------
 * Generated by Animista on 2022-3-11 18:19:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
.header-introduction {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.81);
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.header-surname {
  color: rgb(109, 25, 187);
}

.header-introduction--position {
  color: rgb(97, 97, 97);
  margin-bottom: 1rem;
  font-size: 2rem;
}

.header-separator {
  background-color: rgb(255, 7, 7);
  width: 10vw;
  margin-left: 0vw;
  margin-bottom: 0.4rem;
  height: 0.3vh;
  border-radius: 10rem;
}

.header-paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

/*---------------------------projects---------------------------*/
.projects {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(85, 85, 85);
  background: -moz-linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(85, 85, 85, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555555",endColorstr="#202020",GradientType=1);
}

.projects-header {
  top: 105vh;
  position: absolute;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 0.2rem solid red;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .projects-header {
    top: 107vh;
    left: 1rem;
    font-size: 1.5rem;
  }
}

.projects-tile {
  padding: 7rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 60vw;
}
@media (max-width: 700px) {
  .projects-tile {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-tile {
  width: 18vw;
  border: 0.5rem solid black;
  border-radius: 1rem;
  transition: 0.7s;
}

.project-tile:hover {
  transform: scale(1.5);
}

@media (max-width: 500px) {
  .project-tile {
    width: 45vw;
  }
}
.project-name {
  background-color: #121212;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem;
}

.last {
  grid-area: 2/2;
  transition: 0.7s;
}

.last:hover {
  transform: translateY(-10rem) scale(1.5);
}

img {
  width: 100%;
}
/*---------------------------footer---------------------------*/
.footer {
  height: auto;
  width: 100%;

  animation: animateBg 9s linear infinite;
  background-image: linear-gradient(
    90deg,
    #292929,
    #242424,
    #121212,
    #292929,
    #242424
  );
  background-size: 400% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.footer-logos {
  width: 6rem;
  font-size: 1.5rem;
  margin: 2rem;
}

.footer-created {
  border-top: 0.2rem solid red;
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  text-align: end;
}
